<div style="text-align: center;">
    <img src="https://drive.google.com/uc?export=view&id=16Tw_YQSTEBbAlbQo01wl5v05UvSGq-5c" width="100" height="100"
        alt="" />
    <br />
    <h1>Reset Password Verification</h1>
    <h3>We have received a request to reset the password of your <strong>FortuneShelf</strong> account.</h3>
    <h3>Use otp: {{otp}} to reset your password</h3>

    <h2>Note: </h2>
    <ul>
        <li>Resetting your password will log you out from all your accounts</li>
        <li>If you have not made this reset password request, then do not share the otp to anyone and contact 
            <a href="mailTo:enquiry@fortuneshelf.com">enquiry@fortuneshelf.com</a>
        </li>
    </ul>
</div>